<h1>Cadastre o Seu Livro:</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título">
    </div>
    <div class="form-control">
        <label for="pageqty">Número de Páginas:</label>
        <input type="number" name="pageqty" placeholder="Quantas Páginas o Livro Tem ?">
    </div>
    <input type="submit" value="Cadastrar">
</form>