{{!-- Não usamos a instrutura html pois usamos o main como layout principal,
dai basta ultilizar o nosso conteudo --}}
<form action="">
   <p>Titulo: </p>
   <input type="text" name="titulo">
   <p>Conteúdo: </p>
   <textarea name="conteudo"></textarea>
   <button type="submit">Cadastrar Postagem</button>
</form>