<h1>Cadastre o seu Livro</h1>
<form action="/books/insertbook" method="POST" class="form">
   
   <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o Titulo">
   </div>

    <div class="form-control">
        <label for="pageqty">Numeros de Páginas:</label>
        <input type="number" name="pageqty" placeholder="Quantas Páginas o Livro Tem">
    </div>

    <input type="submit" value="Cadastrar">
</form>