<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>  
    <h1>Adicionar user </h1>
    <form action="/users/save" method="POST">
       <div>
            <input type="text" name="name" placeholder=""Digite seu nome> 
       </div> 
       <div>
        <input type="text" name="age" placeholder=""Digite sua idade> 
       </div>
       <div>
            <input type="submit" value="enviar">
       </div>
    </form> 
</body>
</html>