<h1>Livros Disponiveis</h1>

<div class="books-container">
    <a href="/">Adicionar Livros</a>
    {{#each books}}
        <div>{{this.id}} - <span class="bold">{{this.title}}</span> - {{this.pageqty}} Páginas
        </div>
    {{/each}}
</div>